{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}

<table border="1">
    <thead>
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <td>
                <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                <small style="color: #888"> {{ board.description }} </small>

            </td>
            <td>0</td>
            <td>0</td>
            <td></td>

        </tr>
        {% endfor %}
    </tbody>

    </tr>
</table>
{% endblock %}

